@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<WBSProekt_Visualization.Models.ViewModels.RatingWeightViewModel>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>URI</th>
                <th>Name</th>
                <th>Rating/Weight</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td><a href="@item.Uri">@item.Uri</a></td>
                    <td>@item.Title</td>
                    <td>@item.RatingWeightRatio</td>
                </tr>
            }
        </tbody>
    </table>
</div>